body,html{
	border: 0;
	margin:0;
	background: #e2e2e2;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
h1{
	font-size: 3em;
}
.color-primary{
	color: rgb(136, 197, 204);
}
.text-center{
	text-align:center;
}
.img-responsive{
	width: 100%;
}
.wrapper{
	width: 90%;
	height: 100vh;
	margin: 0 auto 0;
}

.logo{
	width: 20%;
	margin: 0 auto 0;
}